<a href="https://colab.research.google.com/github/awais-riaz313/EcoMacroTrends/blob/main/Basic%20of%20List/Tuple/Nesting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Table of Contents**

Lists and Tuple Nesting

Indexing

List Content

List Operations

Copy and Clone List

Quiz on Lists

Scenario:Shopping List

**List:** A list is a sequenced collection of different objects such as integers, strings, and even other lists as well. The address of each element within a list is called an index. An index is used to access and refer to items within a list.

To create a list, type the list within square brackets [ ], with your content inside the parenthesis and separated by commas. Let us try it!

In [ ]:
# Create a List
L=["The Bodyguard",7.0,1992]

In [ ]:
print(L)

['The Bodyguard', 7.0, 1992]

In [ ]:
L

['The Bodyguard', 7.0, 1992]

We can use negative and regular indexing with a list:

In [ ]:
print('the name of element using negative and positive indexing:/n Positive:',L[0],
      '/n Negative:',L[-3])

the name of element using negative and positive indexing:/n Positive: The Bodyguard /n Negative: The Bodyguard

In [ ]:
print('the same element using negative and positive indexing:/n Positive:',L[1],'/n Negative:',L[-2])

the same element using negative and positive indexing:/n Positive: 7.0 /n Negative: 7.0

**List Content**
Lists can contain strings, floats, and integers. We can nest other lists, and we can also nest tuples and other data structures. The same indexing conventions apply for nesting:

In [ ]:
# Sample List
['The Bodygurd', 7.0,1992,[1,2], ("A",1)]

['The Bodygurd', 7.0, 1992, [1, 2], ('A', 1)]

**List Operations**

We can also perform slicing in lists. For example, if we want the last two elements, we use the following command:

In [ ]:
L=['The Bodygurd',7.0,1992,"BG",1]
L

['The Bodygurd', 7.0, 1992, 'BG', 1]

In [ ]:
# List Slicing
L[3:5]

['BG', 1]

In [ ]:
# List Slicing
L[1:3]

[7.0, 1992]

In [ ]:
# List Slicing
L[0]

'The Bodygurd'

In [ ]:
# Use Extend to add element to list
L=["Awais", 5.0]
L.extend(["Pop",10])
L

['Awais', 5.0, 'Pop', 10]

In [ ]:
L.append(['a','b'])
L

['Awais', 5.0, 'Pop', 10, ['a', 'b']]

In [ ]:
A= ["disco",10,1.2]
print('Before change:',A)
A[0]= 'hard rock'
print("After Change:",A)

Before change: ['disco', 10, 1.2]
After Change: ['hard rock', 10, 1.2]

In [ ]:
print('Before change:', A)
del(A[0])
print('After change:', A)

Before change: ['hard rock', 10, 1.2]
After change: [10, 1.2]

In [ ]:
'hard rock'.split()

['hard', 'rock']

In [ ]:
'A,B,C,D'.split(",")

['A', 'B', 'C', 'D']

In [ ]:
Bag= ['Gold,Silvier',10,5]
Safe=Bag
print('Bag:',Bag)
print("Safe:",Safe)

Bag: ['Gold,Silvier', 10, 5]
Safe: ['Gold,Silvier', 10, 5]

In [ ]:
Bag[-1]

5

In [ ]:
#Type your code here
shoping_list=['watch','laptop','shoes','pen','clothes']

In [ ]:
print(shoping_list)

['watch', 'laptop', 'shoes', 'pen', 'clothes']

In [ ]:
shoping_list.append("Football")

In [ ]:
print(shoping_list)

['watch', 'laptop', 'shoes', 'pen', 'clothes', 'Football']

In [ ]:
shoping_list[-6]

'watch'

In [ ]:
shoping_list[5]

'Football'

In [ ]:
shoping_list[2:4]

['shoes', 'pen']

In [ ]:
shoping_list[3]='Notebook'

In [ ]:
del(shoping_list[4])

In [ ]:
print(shoping_list)

['watch', 'laptop', 'shoes', 'Notebook', 'Football']

**Tuples**

In Python, there are different data types: String, Integer, and Float. These data types can all be contained in a tuple as follows:
disco str,
10 int
1.2 float

In [1]:
# Create your first tuple
tuple1 = ("Umar", 10, 1.2)
tuple1

('Umar', 10, 1.2)

The type of variable is a tuple

In [2]:
type(tuple1)

tuple

**Indexing**

Each element of a tuple can be accessed via an index. The following table represents the relationship between the index and the items in the tuple. Each element can be obtained by the name of the tuple followed by a square bracket with the index number:

In [3]:
print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

Umar
10
1.2

We can also use negative indexing. We use the same table above with corresponding negative values:

In [4]:
print(tuple1[-3])
print(tuple1[-2])
print(tuple1[-1])

Umar
10
1.2

In [5]:
print(type(tuple1[0]))

<class 'str'>

In [6]:
tuple1[-1]

1.2

**Concatenate Tuples**
We can also use negative indexing. We use the same table above with corresponding negative values:

In [7]:
# Concatenate Two Tuples
tuple2= tuple1+("Wali",10)
tuple2

('Umar', 10, 1.2, 'Wali', 10)

We can slice tuples obtaining multiple values as demonstrated by the figure below:

In [8]:
tuple2[0:5]:("Wali",10)

In [9]:
# Slice from index 0 to index 2
tuple2[0:3]

('Umar', 10, 1.2)

We can obtain the length of a tuple using the length command:

In [10]:
len(tuple2)

5

In [11]:
# A sample tuple
Ratings= (0,1,2,3,4,5,6,7,8,9)

In [12]:
RatingsSorted = sorted(Ratings)
RatingsSorted

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

**Nested Tuple**
A tuple can contain another tuple as well as other more complex data types. This process is called 'nesting'. Consider the following tuple with several elements:

In [13]:
# Create a nest tuple

NestedT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))

Each element in the tuple, including other tuples, can be obtained via an index as shown in the figure:

In [14]:
NestedT

(1, 2, ('pop', 'rock'), (3, 4), ('disco', (1, 2)))

In [15]:
print("Element 0 of Tuple: ", NestedT[0])

Element 0 of Tuple:  1

In [17]:
print("Element 1 of Tuple: ", NestedT[1])

Element 1 of Tuple:  2

In [18]:
print("Element 2 of Tuple: ", NestedT[2])

Element 2 of Tuple:  ('pop', 'rock')

In [19]:
print("Element 3 of Tuple: ", NestedT[3])

Element 3 of Tuple:  (3, 4)

In [20]:
print("Element 4 of Tuple: ", NestedT[4])

Element 4 of Tuple:  ('disco', (1, 2))

In [22]:
# Print element on each index, including nest indexes

print("Element 2, 0 of Tuple: ",   NestedT[2][0])
print("Element 2, 1 of Tuple: ",   NestedT[2][1])
print("Element 3, 0 of Tuple: ",   NestedT[3][0])
print("Element 3, 1 of Tuple: ",   NestedT[3][1])
print("Element 4, 0 of Tuple: ",   NestedT[4][0])
print("Element 4, 1 of Tuple: ",   NestedT[4][1])

Element 2, 0 of Tuple:  pop
Element 2, 1 of Tuple:  rock
Element 3, 0 of Tuple:  3
Element 3, 1 of Tuple:  4
Element 4, 0 of Tuple:  disco
Element 4, 1 of Tuple:  (1, 2)

In [23]:
# Print the first element in the second nested tuples

NestedT[2][1][0]

'r'

In [25]:
# Print the firstsecond element in the second nested tuples

NestedT[2][1][1]

'o'

In [26]:
# Print the first element in the second nested tuples

NestedT[4][1][0]

1

In [27]:
# Print the second element in the second nested tuples

NestedT[4][1][1]

2

In [28]:
# Sample tuple
genress_tuple= ("pop", "rock", "soul", "hard rock", "soft rock", \
                "R&B", "progressive rock", "disco",)
genress_tuple

('pop',
 'rock',
 'soul',
 'hard rock',
 'soft rock',
 'R&B',
 'progressive rock',
 'disco')

In [29]:
len(genress_tuple)

8

In [30]:
genress_tuple[3]

'hard rock'

In [31]:
genress_tuple[3:6]

('hard rock', 'soft rock', 'R&B')

In [34]:
print("Element 1 of Tuple: ", genress_tuple[1])

Element 1 of Tuple:  rock

In [35]:
genress_tuple

('pop',
 'rock',
 'soul',
 'hard rock',
 'soft rock',
 'R&B',
 'progressive rock',
 'disco')

In [38]:
genress_tuple[0:2]

('pop', 'rock')

In [39]:
genress_tuple[7]

'disco'

In [42]:
"disco".find('o')

4

In [43]:
C_tuple=(-5,1,-3)

In [44]:
C_list=sorted(C_tuple)
C_list

[-5, -3, 1]